// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Play',sans-serif;} // font header
.fs {font-family: 'Patrick Hand',sans-serif;} // font specific
.fi {font-family: 'sp-icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@yellow: #f8b00a;
@green: #a6cd00;
@blue: #649ecb;
@turquoise: #09aca7;
@cp: #494847; // color primary
@cl: #09aca7; // color link

// font sizes
@fsp: 16px; // font size primary
@fsh1: 34px; // font size h1
@fsh2: 28px; // font size h2
@fsh3: 24px; // font size h3
@fsh4: 20px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1000px;
@content-padding: 40px;