.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 20px 0;
		li{
			float: left;
			margin-right: 15px;
			font-size: 14px;
			color: @cl;
			&:before{
				top: 3px;
			}
			a {
				color: lighten(@cp,30%);
			}
		}
	}
}
.mod_menu-main {
	float: right;
	margin: 0 -40px 40px 0;
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			float: left;
			margin: 0 0 0 32px;
			a {
				.transition(0.3s);
				.fh;
				position: relative;
				display: block;
				text-transform: uppercase;
				text-decoration: none;
				color: @cp;
				font-size: 18px;
				line-height: 1;
				white-space: nowrap;
				padding: 49px 0 0;
				&:hover{
					color: lighten(@cp,50%);
					&:before{
						top: -18px;
						background: lighten(@cp,50%);
					}
				}
				&:before{
					.transition(0.3s);
					.border-radius(50%);
					position: absolute;
					content: '';
					top: -36px;
					left: 50%;
					margin-left: -18px;
					width: 36px;
					height: 36px;
					background: #fff;
				}
			}
			&.act {
				a {
					color: @cl;
					&:before{
						top: -18px;
						background: @cl;
					}
				}
			}
		}
	}
}
.mod_custom-intro {
	.blackboard {
		height: 541px;
		margin: -420px 0 0;
		padding: 87px 0 0;
		min-width: @content-width;
		background: url(../images/bg/04.png) no-repeat top;
		.container {
			text-align: center;
		}
		.mod-title {
			.fh;
			text-transform: uppercase;
			color: #88e3e0;
			font-size: 30px;
			line-height: 1.25;
			margin: 0 0 30px;
			strong {
				color: #00e3dc;
			}
		}
	}
	.steps {
		.rul;
		.clearfix;
		margin: 0 -10px 34px;
		li {
			.rli;
			.fs;
			float: left;
			width: 33.3333%;
			color: #fff;
			font-size: 30px;
			line-height: 1.2;
			text-transform: uppercase;
			&:before{
				top: 38px;
				left: -38px;
				width: 40px;
				height: 76px;
				background: url(../images/bg/02.png);
			}
			&:first-child {
				padding-right: 5px;
				&:before{
					display: none;
				}
			}
			&:nth-child(2) {
				padding-right: 20px;
			}
			&:nth-child(3) {
				padding-right: 28px;
				img {
					left: 15px;
				}
				&:before{
					top: 39px;
					left: -34px;
					height: 84px;
					background-image: url(../images/bg/03.png);
				}
			}
			img {
				position: relative;
				display: block;
				margin: 0 auto 17px;
			}
		}
	}
	.more {
		.fh;
		position: relative;
		display: inline-block;
		color: #fec60c;
		text-transform: uppercase;
		font-size: 21px;
		line-height: 1.2;
		&:before{
			position: absolute;
			content: '';
			right: -47px;
			top: 20px;
			width: 40px;
			height: 23px;
			background: url(../images/bg/06.png) no-repeat;
		}
	}
}
.mod_menu-category {
	#wrapper & {
		position: relative;
		z-index: 999;
		margin-bottom: 160px;
	}
	&>ul {
		.rul;
		margin: 0 -20px 0;
		#intro & {
			margin-top: -85px;
		}
		#wrapper & {
			margin-top: -32px;
		}
		&>li {
			.rli;
			float: left;
			width: 25%;
			padding: 0 20px;
			&>a {
				.fh;
				.transition(0.2s);
				text-transform: uppercase;
				text-decoration: none;
				display: block;
				text-align: center;
				height: 90px;
				padding: 20px 10px 0;
				color: #fff;
				text-shadow: -1px -1px 0 fade(#000,40%);
				font-size: 21px;
				line-height: 1.2;
				background: url(../images/bg/01.png) no-repeat;
				#intro & {
					&:before{
						.fi;
						.border-radius(50%);
						.transition(0.2s);
						z-index: 1;
						position: absolute;
						content: '\e801';
						bottom: 0;
						left: 50%;
						width: 48px;
						height: 48px;
						line-height: 48px;
						margin-left: -24px;
						text-align: center;
						color: #fff;
						text-shadow: 0 -1px 0 fade(#000,40%);
						font-size: 23px;
						background: @yellow;
					}
					&:hover{
						margin: -5px 0 5px;
						&:before{
							background: darken(@yellow,5%);
						}
					}
				}
				#wrapper & {
					position: relative;
					z-index: 2;
				}
			}
			&:nth-child(2) {
				a {
					background-position: -200px 0;
				}
			}
			&:nth-child(3) {
				a {
					background-position: -400px 0;
				}
			}
			&:nth-child(4) {
				a {
					background-position: -600px 0;
				}
			}
			#intro & {
				&:nth-child(2) {
					a {
						&:before{
							background: @green;
						}
						&:hover{
							&:before{
								background: darken(@green,5%);
							}
						}
					}
					ul {
						background-position: -200px -90px;
					}
				}
				&:nth-child(3) {
					a {
						&:before{
							background: @blue;
						}
						&:hover{
							&:before{
								background: darken(@blue,5%);
							}
						}
					}
					ul {
						background-position: -400px -90px;
					}
				}
				&:nth-child(4) {
					a {
						&:before{
							background: @turquoise;
						}
						&:hover{
							&:before{
								background: darken(@turquoise,5%);
							}
						}
					}
					ul {
						background-position: -600px -90px;
					}
				}
				ul {
					.rul;
					position: relative;
					padding: 34px 0 50px;
					min-height: 172px;
					background: url(../images/bg/01.png) no-repeat 0 -90px;
					li {
						.fh;
						padding-left: 20px;
						font-size: 18px;
						line-height: 1.2;
						margin: 10px -5px 10px 0;
						&:before{
							font-size: 18px;
							left: 5px;
							top: 1px;
						}
						a {
							color: @cp;
							text-decoration: none;
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
			}
			#wrapper & {
				&:hover{
					ul {
						max-height: 300px;
						padding-top: 28px;
						padding-bottom: 30px;
						overflow: visible;
					}
				}
				ul {
					.border-radius(0 0 10px 10px);
					.rul;
					.transition(0.2s);
					position: absolute;
					left: 20px;
					top: 100%;
					padding: 0 20px;
					width: 200px;
					margin-top: -12px;
					background: @yellow;
					max-height: 0px;
					overflow: hidden;
					&:before{
						.border-radius(0 0 50% 50%);
						position: absolute;
						content: '';
						top: 100%;
						left: 7px;
						right: 7px;
						height: 20px;
						margin-top: -12px;
						background: @yellow;
					}
					li {
						padding-left: 13px;
						color: #fff;
						&:before{
							font-size: 15px;
						}
						a {
							color: #fff;
						}
					}
				}
				&:nth-child(2) {
					ul {
						background: @green;
						&:before{
							background: @green;
						}
					}
				}
				&:nth-child(3) {
					ul {
						background: @blue;
						&:before{
							background: @blue;
						}
					}
				}
				&:nth-child(4) {
					ul {
						background: @turquoise;
						&:before{
							background: @turquoise;
						}
					}
				}
			}
			#wrapper & {
				&:before{
					top: 100%;
					left: 20px;
					width: 200px;
					height: 53px;
					background: url(../images/bg/01.png) no-repeat 0 -90px;
					-webkit-opacity: 0.6;
					-moz-opacity: 0.6;
					opacity: 0.6;
					filter:alpha(opacity=60);
				}
				&:nth-child(2) {
					&:before{
						background-position: -200px -90px;
					}
				}
				&:nth-child(3) {
					&:before{
						background-position: -400px -90px;
					}
				}
				&:nth-child(4) {
					&:before{
						background-position: -600px -90px;
					}
				}
			}
		}
	}
}
.mod_custom-apps {
	float: left;
	width: 50%;
	.mod-title {
		.fh;
		text-transform: uppercase;
		font-size: 21px;
		line-height: 1.2;
		color: @cl;
		font-weight: bold;
	}
	ul {
		.rul;
		margin: 24px 0;
		li {
			font-size: 18px;
			line-height: 1.2;
			padding-left: 21px;
			margin: 9px 0;
			&:before{
				color: @cl;
				font-size: 23px;
				left: 2px;
				top: -2px;
			}
		}
	}
}
.mod_custom-testimonial {
	float: left;
	width: 28.2%;
	padding: 0 20px;
	.mod-title {
		.fh;
		text-transform: uppercase;
		font-size: 20px;
		line-height: 1.2;
		color: @cl;
		margin: 0 0 25px;
	}
	blockquote {
		margin: 18px 0;
		padding: 0;
		font-size: 17px;
		line-height: 1.2;
		&:before{
			.fh;
			content: '\201C';
			width: 49px;
			height: 64px;
			font-size: 64px;
			line-height: 1;
			float: left;
			color: @cl;
			margin: -7px -10px -20px -2px;
		}
	}
	.author {
		line-height: 1.2;
	}
}
.mod_custom-contact {
	color: @cl;
	font-size: 17px;
	line-height: 1.3;
	float: left;
	width: 21.8%;
	.mod-title {
		.fh;
		text-transform: uppercase;
		font-size: 20px;
		line-height: 1.2;
		color: @cl;
		margin: 0 0 5px;
	}
	p {
		margin: 5px 0;
	}
	ul {
		.rul;
		margin: 28px 0;
		li {
			.rli;
			margin: 22px 0;
			a {
				.fh;
				.transition(0.2s);
				font-size: 17px;
				line-height: 1.25;
				text-transform: uppercase;
				font-weight: bold;
				display: inline-block;
				color: @green;
				text-decoration: none;
				padding: 0 0 0 60px;
				&:hover{
					color: @cl;
					&:before{
						background: @cl;
					}
				}
				&:before{
					.fi;
					.transition(0.2s);
					.border-radius(50%);
					position: absolute;
					content: '';
					left: 0;
					top: -3px;
					width: 48px;
					height: 48px;
					line-height: 48px;
					color: #fff;
					font-size: 22px;
					background: @green;
					font-weight: normal;
					text-align: center;
				}
			}
			&.request a:before {
				content: '\e804';
			}
			&.contacts a:before {
				content: '\e805';
			}
		}
	}
}
.mod_menu-footer {
	float: right;
	ul {
		.rul;
		.clearfix;
		margin: 20px -5px 32px;
		li {
			.rli;
			float: left;
			font-size: 14px;
			margin: 0 0 0 22px;
			text-transform: uppercase;
			a {
				color: @cp;
			}
			&.act {
				font-weight: bold;
				a {
					text-decoration: none;
				}
			}
		}
	}
}