@charset 'utf-8';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand&subset=latin,latin-ext);
@import url(../fontello/css/sp-icons.css);

@media screen {
	
	// Reset
	@import 'normalize';

	// Core utilities, config and mixins
	@import 'config';
	@import 'mixins';
	@import 'buttons';
	@import 'utilities';
	@import 'grid';

	// Core CSS
	@import 'type';
	@import 'classes';
	@import 'xart_classes';
	@import 'layout';
	@import 'modules';

	// XART
	// @import 'xart';

	// media queries
	@import 'queries';

}


@media print {
	@import 'print';
	//@import 'xart_print';
}
